/*------------------------------------*\
  #ASPECT-RATIO
\*------------------------------------*/

.o-ar {
    &,
    &:after {
        width: 100%;
    }

	display: block;
    overflow: hidden;
    position: relative;
    z-index: 1;

    &:after {
        content: "";
        display: block;
        height: 0;
    }

    &--1-1 {
        &:after {
            padding-bottom: 100%;
        }
    }
}
