/*------------------------------------*\
  #COLOR
\*------------------------------------*/

$color_primary: #263238;
$color_secondary: #fff;
$color_tertiary: #f9f9f9;
$color_quaternary: #ef5350;
$color_quinary: #c62828;
$color_senary: #4062a3;
$color_septenary: #ffc91b;