/*------------------------------------*\
  #MEDIA-QUERY
\*------------------------------------*/

$mq_grid: #{$grid_width}px;
$mq_desk_lrg: 1440px;
$mq_desk: 1280px;
$mq_desk_sml: 960px;
$mq_tab: 800px;
$mq_mob_lrg: 640px;
$mq_mob: 480px;
