/*------------------------------------*\
  #MAIN
\*------------------------------------*/
/**
 * Settings
 */
/*------------------------------------*\
  #COLOR
\*------------------------------------*/
/*------------------------------------*\
  #GRID
\*------------------------------------*/
/*------------------------------------*\
  #MEDIA-QUERY
\*------------------------------------*/
/**
 * Tools
 */
/*------------------------------------*\
  #MEDIA-QUERY
\*------------------------------------*/
/*------------------------------------*\
  #RESET-COLUMN
\*------------------------------------*/
/**
 * Generic
 */
/*------------------------------------*\
  #BODY
\*------------------------------------*/
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/*------------------------------------*\
  #GLOBAL
\*------------------------------------*/
* {
  margin: 0;
  padding: 0; }
  *, *:before, *:after {
    box-sizing: inherit; }

/*------------------------------------*\
  #HTML
\*------------------------------------*/
html {
  box-sizing: border-box;
  overflow-y: scroll;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

/*------------------------------------*\
  #MAIN
\*------------------------------------*/
main {
  display: block; }

/**
 * Elements
 */
/*------------------------------------*\
  #BODY
\*------------------------------------*/
body {
  background: #f9f9f9;
  color: #263238; }

/**
 * Objects
 */
/*------------------------------------*\
  #ASPECT-RATIO
\*------------------------------------*/
.o-ar {
  display: block;
  overflow: hidden;
  position: relative;
  z-index: 1; }
  .o-ar, .o-ar:after {
    width: 100%; }
  .o-ar:after {
    content: "";
    display: block;
    height: 0; }
  .o-ar--1-1:after {
    padding-bottom: 100%; }

/*------------------------------------*\
  #COLUMN
\*------------------------------------*/
/**
 * Columns
 */
/**
 * Widths
 */
/**
 * Class
 */
.o-col {
  padding-right: 10px;
  padding-left: 10px;
  width: 100%; }
  .o-col--2 {
    max-width: 16.66667%; }
  .o-col--3 {
    max-width: 25%; }
  .o-col--4 {
    max-width: 33.33333%; }
  .o-col--6 {
    max-width: 50%; }
  .o-col--12 {
    max-width: 100%; }
  @media screen and (max-width: 1440px) {
    .o-col--2-desk-lrg {
      max-width: 16.66667%; } }
  @media screen and (max-width: 1280px) {
    .o-col--2-desk {
      max-width: 16.66667%; } }
  @media screen and (max-width: 960px) {
    .o-col--2-desk-sml {
      max-width: 16.66667%; } }
  @media screen and (max-width: 800px) {
    .o-col--2-tab {
      max-width: 16.66667%; } }
  @media screen and (max-width: 640px) {
    .o-col--2-mob-lrg {
      max-width: 16.66667%; } }
  @media screen and (max-width: 1440px) {
    .o-col--3-desk-lrg {
      max-width: 25%; } }
  @media screen and (max-width: 1280px) {
    .o-col--3-desk {
      max-width: 25%; } }
  @media screen and (max-width: 960px) {
    .o-col--3-desk-sml {
      max-width: 25%; } }
  @media screen and (max-width: 800px) {
    .o-col--3-tab {
      max-width: 25%; } }
  @media screen and (max-width: 640px) {
    .o-col--3-mob-lrg {
      max-width: 25%; } }
  @media screen and (max-width: 1440px) {
    .o-col--4-desk-lrg {
      max-width: 33.33333%; } }
  @media screen and (max-width: 1280px) {
    .o-col--4-desk {
      max-width: 33.33333%; } }
  @media screen and (max-width: 960px) {
    .o-col--4-desk-sml {
      max-width: 33.33333%; } }
  @media screen and (max-width: 800px) {
    .o-col--4-tab {
      max-width: 33.33333%; } }
  @media screen and (max-width: 640px) {
    .o-col--4-mob-lrg {
      max-width: 33.33333%; } }
  @media screen and (max-width: 1440px) {
    .o-col--6-desk-lrg {
      max-width: 50%; } }
  @media screen and (max-width: 1280px) {
    .o-col--6-desk {
      max-width: 50%; } }
  @media screen and (max-width: 960px) {
    .o-col--6-desk-sml {
      max-width: 50%; } }
  @media screen and (max-width: 800px) {
    .o-col--6-tab {
      max-width: 50%; } }
  @media screen and (max-width: 640px) {
    .o-col--6-mob-lrg {
      max-width: 50%; } }
  @media screen and (max-width: 1440px) {
    .o-col--12-desk-lrg {
      max-width: 100%; } }
  @media screen and (max-width: 1280px) {
    .o-col--12-desk {
      max-width: 100%; } }
  @media screen and (max-width: 960px) {
    .o-col--12-desk-sml {
      max-width: 100%; } }
  @media screen and (max-width: 800px) {
    .o-col--12-tab {
      max-width: 100%; } }
  @media screen and (max-width: 640px) {
    .o-col--12-mob-lrg {
      max-width: 100%; } }

/*------------------------------------*\
  #GRID
\*------------------------------------*/
.o-grid {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1760px;
  padding-right: 10px;
  padding-left: 10px; }

/*------------------------------------*\
  #IMAGE
\*------------------------------------*/
.o-img {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -2; }
  .o-img--contain {
    object-fit: contain; }

/*------------------------------------*\
  #ROW
\*------------------------------------*/
.o-row {
  width: 100%; }

/**
 * Components
 */
/*------------------------------------*\
  #ARCHIVE
\*------------------------------------*/
.c-archive {
  position: relative; }
  .c-archive__icon {
    display: block;
    height: auto;
    width: 200px; }
  .c-archive__overlay {
    align-items: center;
    background: #4062a3;
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    opacity: 0;
    padding: 20px;
    pointer-events: none;
    position: fixed;
    top: 0;
    transition: opacity 0.3s ease-in-out, visibility 0s ease-in-out 0.3s;
    width: 100%;
    visibility: hidden;
    z-index: 9; }
    .c-archive__overlay.is-visible {
      opacity: 1;
      pointer-events: auto;
      transition-delay: 0s, 0s;
      visibility: visible; }

/*------------------------------------*\
  #BUTTON
\*------------------------------------*/
.c-btn {
  background: #ef5350;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: block;
  min-width: 100px;
  opacity: 1;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  transition: background 0.3s ease-in-out, opacity 0.3s ease-in-out; }
  .c-btn:hover, .c-btn.is-active, .c-btn[disabled] {
    background: #c62828; }
  .c-btn[disabled] {
    opacity: 0.5; }

/*------------------------------------*\
  #CARD
\*------------------------------------*/
.c-card {
  background: #4062a3;
  margin-bottom: 20px;
  padding: 10px;
  transition: background 0.3s ease-in-out; }
  .c-card, .c-card__img {
    display: block;
    border-radius: 5px; }
  .c-card:hover {
    background: #ffc91b; }
  .c-card__img {
    background: #fff;
    height: 100%;
    object-fit: contain;
    padding: 20px;
    width: 100%; }

/*------------------------------------*\
  #LIST
\*------------------------------------*/
.c-list {
  align-items: center;
  display: flex;
  list-style: none;
  margin-left: -10px;
  width: calc(100% + 20px); }
  .c-list--right {
    justify-content: flex-end; }
  .c-list__item {
    margin-right: 10px;
    margin-left: 10px; }

/**
 * Utilities
 */


/*# sourceMappingURL=styles.chunk.css.map*/