/*------------------------------------*\
  #HTML
\*------------------------------------*/

html {
    box-sizing: border-box;
    overflow-y: scroll;
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
